.vs/TestWPL_MaterialDesign/v14/.suo
bin/Debug/MaterialDesignColors.dll
bin/Debug/MaterialDesignThemes.Wpf.pdb
bin/Debug/TestWPL_MaterialDesign.exe.config
bin/Debug/TestWPL_MaterialDesign.vshost.exe.manifest
bin/Debug/MaterialDesignThemes.Wpf.xml
bin/Debug/TestWPL_MaterialDesign.exe
bin/Debug/TestWPL_MaterialDesign.pdb
bin/Debug/TestWPL_MaterialDesign.vshost.exe.config
bin/Debug/TestWPL_MaterialDesign.vshost.exe
obj/Debug/App.g.cs
bin/Debug/MaterialDesignThemes.Wpf.dll
obj/Debug/MainWindow.g.i.cs
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.baml
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/App.g.i.cs
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TestWPL_MaterialDesign_MarkupCompile.lref
obj/Debug/TestWPL_MaterialDesign.csproj.GenerateResource.Cache
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TestDialog.baml
obj/Debug/TestWPL_MaterialDesign.csprojResolveAssemblyReference.cache
obj/Debug/TestWPL_MaterialDesign.g.resources
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TestWPL_MaterialDesign_MarkupCompile.i.cache
obj/Debug/TestDialog.g.i.cs
obj/Debug/TestWPL_MaterialDesign.csproj.FileListAbsolute.txt
obj/Debug/TestWPL_MaterialDesign.exe
obj/Debug/TestDialog.g.cs
obj/Debug/TestWPL_MaterialDesign_MarkupCompile.cache
obj/Debug/TestWPL_MaterialDesign.Properties.Resources.resources
obj/Debug/TestWPL_MaterialDesign.pdb